*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: Druk Wide;
}

.main-wrapper {
  font-family: Druk Wide;
  min-height: 100vh;
  background-position: center;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.background {
  background-color: #000000;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}
.background::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.79) 21%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.8;
  top: 0;
  left: 0;
}
.background::after {
  content: "";
  position: absolute;
  height: 20%;
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
  bottom: 0;
  left: 0;
}

a {
  font-family: "Neue Machina";
  color: #ffffff;
  font-weight: 400;
}

button {
  font-family: Druk Wide;
}
.container,
.container-images {
  max-width: 1347px;
  padding: 0 10px;
  margin: 0 auto;
}
.container-images {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.header {
  padding: 30px 0;
  flex-grow: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 260px;
  height: 40px;
}

.header__prize {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 290px;
  height: 70px;
  z-index: 10;
}

.header__prize img {
  width: 35px;
  height: 70px;
  margin-right: 10px;
}
.header__prize-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
}

.header__prize-text {
  font-family: "Neue Machina";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8px;
  line-height: 8px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding-top: 63px;
}

.left-content {
  max-width: 550px;
  z-index: 1;
}
.right-content {
  flex-grow: 2;
  position: relative;
}

.about-text {
  max-width: 500px;
  font-size: 48px;
  text-transform: uppercase;
  transition: color 2s;
}

.like {
  margin-top: 5px;
  color: #f8ff13;
  font-size: 97px;
  position: relative;
  line-height: 100px;
  height: 110px;
}

.about-text__like,
.about-text__like--shadow {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.about-text__like {
  transition: transform 1s, color 3s;
  cursor: pointer;
}

.about-text__like--shadow {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px #ffffff;
  font-size: 95px;
  position: absolute;
  letter-spacing: 2.5px;
  z-index: -1;
  transition: transform 2s, opacity 1s ease-in;
  opacity: 0;
}

.like::after,
.like::before {
  content: "";
  background-image: url(../images/like-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: -30px;
  top: 5px;
  width: 90px;
  height: 97px;
  z-index: -1;
  opacity: 0;
}

.like::after {
  transition: transform 3s, opacity 2s;
}

.like::before {
  transition: opacity 3s;
}

.info {
  padding-top: 38px;
  max-width: 470px;
}

.info__btn {
  position: relative;
  transform: skew(-10deg);
}

.info__btn--front {
  background-color: #f8ff13;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 1s;
  box-shadow: 10px 10px 50px #000000;
}

.info__btn--front a {
  font-family: Druk Wide;
  text-decoration: none;
  padding: 30px 0;
  display: block;
  color: #000000;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  transform: skew(0deg);
  text-align: center;
  overflow: hidden;
}

.info__btn--front a::before {
  content: "";
  width: 3em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-4em) skew(-45deg);
  animation-name: blick;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes blick {
  from {
    transform: translate(-4em) skew(-45deg);
  }
  to {
    transform: translate(30em) skew(-45deg);
  }
}

.info__btn--shadow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff;
  z-index: -1;
  transition: border-radius 1s;
  overflow: hidden;
}
.info__btn:hover .info__btn--front {
  transform: translate(10px, 10px);
  background-color: #fff;
  box-shadow: 20px 20px 50px #000000;
  text-shadow: -3px -3px 5px #f8ff13;
  border-radius: 10px;
  overflow: hidden;
}

.info__btn:hover .info__btn--shadow {
  border-radius: 10px;
}

.info__link {
  margin-top: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
}

.info__text {
  position: absolute;
  top: 288px;
  left: 0;
  width: 100%;
  font-size: 49px;
  line-height: 53px;
  text-transform: uppercase;
  text-align: right;
}

/* .info__text span {
  display: inline;
  text-align: center;
} */

.info__text span + span {
  display: block;
  text-align: center;
}

.border {
  color: rgba(255, 255, 255, 0.3);
  -webkit-text-stroke: 1px #ffffff;
  z-index: 2;
}

.back-text {
  color: white;
  z-index: -1;
}

.man {
  left: 25px;
  position: absolute;
  bottom: -132px;
  height: calc(100% + 246px);
  transition: all 0.1s ease;
}

.decor {
  position: absolute;
  top: 0;
  left: 350px;
}
.castle {
  position: absolute;
  bottom: -132px;
  height: calc(100% + 100px);
  right: 0px;
  z-index: -1;
  transition: all 0.1s;
}

.ball-1 {
  width: 209px;
  height: 209px;
  position: absolute;
  top: 200px;
  right: 150px;
  animation-name: levitation-1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes levitation-1 {
  50% {
    transform: translateY(-50%);
  }
}
.ball-2 {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 75px;
  left: 430px;
  animation-name: levitation-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes levitation-2 {
  50% {
    transform: translateY(-80%);
  }
}
.ball-3 {
  width: 109px;
  height: 109px;
  position: absolute;
  bottom: 45px;
  right: 105px;
  animation-name: levitation-3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  z-index: 1;
}
@keyframes levitation-3 {
  50% {
    transform: translateY(-100%);
  }
}
.footer {
  flex-grow: 0;
  padding: 30px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__payment-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.footer__payment-item {
  margin-right: 30px;
  height: 100%;
}

.footer__payment-item--last {
  margin-right: 0px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-link {
  margin-left: 30px;
  width: 20px;
  height: 20px;
}

.footer__social-link img {
  height: 100%;
  width: 100%;
}

.header__prize--mobile {
  display: none;
}
